body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}


/* .inputConteiner {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
 
  max-width: 80%;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
 
}


.from {
  flex: 1;
  max-width: 200px;
}

.from input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}


.searchBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #457676;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.direactionsDuration {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}


.mapContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
} */
